<div id="adminpage"
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <title>Admin</title>
  </head>
  <body>
    <div class="container pad-t">
  <h2>Admin View</h2>
  <table class="table text-center">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Body</th>
        <th>Title</th>
        <th  colspan="3" >Action</th>
      </tr>
    </thead>
    <tbody>
    <% @posts.each do |post| %>
        <tr>
          <td><%= post.user_ID %></td>
          <td><%= post.body %></td>
          <td><%= post.Title %></td>
          <td><%= link_to 'Show', post if policy(Post).show? %></td>
          <td><%= link_to 'Edit', edit_post_path(post) if policy(Post).edit? %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if policy(Post).destroy?%></td>
        </tr>
      <% end %>
      
    </tbody>
  </table>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>