<div id="adminpage"
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <title>Admin</title>
  </head>
  <body>
    <div class="container pad-t">
  <h2>Admin View</h2>
  <table class="table text-center">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Post ID</th>
        <th>Body</th>
        <th>Title</th>
        <th  colspan="3" >Action</th>
      </tr>
    </thead>
    <tbody>
    <% @posts.each do |post| %>
        <tr>
          <td><%= post.user_id %></td>
          <td><%= post.id %></td>
          <td><%= post.body %></td>
          <td><%= post.title %></td>
          <td><button type="button" class="btn btn-warning"><%= link_to 'Show', post if policy(post).show? %> </button></td>
          <%if policy(post).edit? %>
          <td><button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_post_path(post)  %> </button></td>
          <% end %>
          <% if policy(post).destroy? %>
          <td><button type="button" class="btn btn-danger"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
        <% end %>
    </tbody>
  </table>
  <br>
  <%if policy(Post).new? %>
  <button type="button" class="btn btn-info text-white"><%= link_to 'New Post', new_post_path %></button>
  <%end%>
  <%= paginate @posts, theme: 'twitter-bootstrap-3' %>
</div>
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
</div>