<div class="showpage">
<p id="notice"><%= notice %></p>

<ul class="list-group list-group-flush  " >
<li class="list-group-item ">
<label for="comment">User ID:  <%= @post.user_id %> </label> </li>
<li class="list-group-item">
<label for="comment">Title : <%= @post.title %> </label></li>
<li class="list-group-item">
<div class="form-group">
<label for="comment">Body:</label>
 <%= @post.body %>
 </div></li>
 <li class="list-group-item">
 <div class="form-group">
<label>IMG:</label>
<% @post.avatars.each do |a| %>
 <%= image_tag  a.url.to_s, style: "max-width: 400px; max-height: 400px"  %>
 <%end%>
 </div>
 </li>

</ul>
 <%if policy(@post).edit?%>
 <button type="button" class="btn btn-danger "><%= link_to 'Edit', edit_post_path(@post) %> </button> 
 <% end %>
 <button type="button" class="btn btn-danger"><%= link_to 'Back', posts_path %></button>
 </div>
