<div class="showpage">
   <div class ="container text-left"
      <p id="notice"><%= notice %></p>
      <div class = "row">
      <div class="col-6">
      <ul class="list-group list-group-flush  " >
      <li class="list-group-item ">
      <label for="comment">User ID:  <%= @post.user_id %> </label> </li>
      <li class="list-group-item">
      <label for="comment">Title : <%= @post.title %> </label></li>
      <li class="list-group-item">
      <div class="form-group">
      <label for="comment">Body:</label>
      <%= @post.body %>
      </div></li>
      </ul>
      </div>
      <div class="col-6 pad-b">
      <div class ="img-show">
      <%= image_tag  @post.avatars.first.url.to_s, style: "width:50%"  %>
      </div>
      <div class ="row pad-t">
      <% @post.avatars.each_with_index do |a, index| %>
         <div class="col-3  pad-t">
         <div  id="img_<%= index %>" >
      <%= image_tag  a.url.to_s, style: "width:100%"  %>
            </div>
         </div>
      <%end%>
      </div>
      </div>
      </div>
      <%= render 'comments/form',comment:@comment %>
      <div id="creat"
      <%=render 'comments/comment',comment: @comment%>
      </div>
      </div>
      <br>
      <%if policy(@post).edit?%>
      <button type="button" class="btn btn-danger "><%= link_to 'Edit', edit_post_path(@post) %> </button> 
      <% end %>
      <button type="button" class="btn btn-danger"><%= link_to 'Back', posts_path %></button>
      </div>
   </div>
 </div>
