<div class="showpage">
<p id="notice"><%= notice %></p>

<ul class="list-group list-group-flush  " >
<li class="list-group-item ">
<label for="comment">User ID:  <%= @post.user_id %> </label> </li>
<li class="list-group-item">
<label for="comment">Title : <%= @post.title %> </label></li>
<li class="list-group-item">
<div class="form-group">
<label for="comment">Body:</label>
 <%= @post.body %>
 </div></li>
 <li class="list-group-item">
 <div class="form-group">
<label>IMG:</label>
<div class ="row">
<% @post.avatars.each do |a| %>
        <div class="col-3 ">
 <%= image_tag  a.url.to_s, style: "width:100%"  %>
    </div>
 <%end%>
 </div>
 </div>
 </li>
</ul>
<h3><%= @post.comments.count%> comments</h3>
  <%= render 'comments/form',comment:@comment %>
  <%=render 'comments/comment',comment:@comment%>
  <br>
 <%if policy(@post).edit?%>
 <button type="button" class="btn btn-danger "><%= link_to 'Edit', edit_post_path(@post) %> </button> 
 <% end %>
 <button type="button" class="btn btn-danger"><%= link_to 'Back', posts_path %></button>
 </div>
